// Fontes
$fontePrincipal: Roboto, sans-serif;

// Cores
$corDeFundo: #f5f6fa;
$corCabecalho: #182C61;
$botoesProdutos: #44bd32;
$textoFundoEscuro: #fff;

// Breakpoints
$mobile: 767px;
$tabletMin: 768px;
$tabletMax: 1023px;